<h1> Inscriez-vous</h1>

<body class= "text-center"
    <form action= <%= gossips_path %> method="POST">
        Email adress : <input type="text" name="email">
    </form>
    <p>         </p>

    <form>
        Password :
        <input type="text" name="password">
        Comfirmation password :
        <input type="text" name="confirmation_password">
    </form>
    <p>         </p>

    <form>
        Country :
        <input type="text" name="country">
    </form>
    <p>         </p>

    <input type="submit" value="valider">

</body>

